* {
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: rgb(184, 192, 201);
}

footer {
  color: white;
}

.filters {
  color: black;
}

.panel-heading h5 {
  color: black;
}

#main-title {
  position: relative;
  background-color: black;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

#main-title h1, h4 {
  color: rgb(196, 177, 138);
}

.table h4 {
  color: rgb(146, 106, 106);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: lightgray;
}
